*{
    margin:0px;
    padding:0px;
    font-family: cursive;
}

.container{
    text-align: center;
    justify-content: center;
    align-items: center;
    
   

}
.dark-mode{
  color:white;
  background-color: black;
}
.front-dilogbox{
  
    margin-top: 50px;
    width: 50%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center;
    padding:10px 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 50px 0.5px skyblue;
    border-radius: 5px;
    margin-bottom: 50px;
}
.logo{
    height: 300px;
    width: auto;

}
.div{
    padding:10px 10px ;
    font-size: 24px;
  
}
#eassy-atm{
    padding:10px 10px;
    background-color: blueviolet;
    color:white;
    border:none;
    cursor: pointer;
    
} 

#eassy-atm:hover{
transform: scale(1.05);
background-color: purple;
animation-delay: 0.5s;
box-shadow: 0px 0px 8px 0.5px blueviolet;
}
#heard-atm{
    padding:10px 10px;
    background-color: blueviolet;
    color:white;
    border:none;
    cursor: pointer; 
}
#heard-atm:hover{
    transform: scale(1.05);
animation-delay: 0.5s;
background-color: purple;
box-shadow: 0px 0px 8px 0.5px blueviolet;
}
h5{
    font-size: 22px;
    padding:10px 10px;
}
h2{
    padding:10px 10px;
    margin-top: 20px;
    color: blueviolet;
}
h3{
    padding: 10px 10px;
}
.slider{
    width:10%;
    margin-top: 10px;
    margin-bottom: 10px;
}
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}
label {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 5px 5px ;
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 20px;
    background: rgb(161, 161, 161);
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #4106e4;
    border-radius: 90px;
    transition: 0.3s;
  
}
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    background: white;
  }  
  input:checked + label {
    background: rgb(24, 117, 223);
  }
  label:active:after {
    width: 30px;
    transition: 0.6s;
  }
  .game-body{
    margin-top: 120px;
    width: 50%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center;
    padding:10px 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 50px 0.5px skyblue;
    border-radius: 5px;
    margin-bottom: 50px;

  }
  #new-start{
    padding:10px 10px;
    background-color: blueviolet;
    color:white;
    border:none;
    cursor: pointer; 
    margin-top: 20px;

  }
  #new-start:hover{
    transform: scale(1.05);
    animation-delay: 0.5s;
    box-shadow: 0px 0px 8px 0.5px blueviolet;
    opacity: 1;
    background-color: purple;
  }
  
  #myInput{
    padding:5px 5px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 25%;
    color:rgb(71, 2, 136);

  }
  p{
    text-align: center;
    font-size: 20px;
    padding:10px 10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .gue{
    margin-top:10px;
  }
  #guess{
    padding:5px 5px ;
    margin-top: 5px;
    box-shadow: 0px 0px 0px 1px rgb(56, 3, 204);
    color:red;

    
  }
  .atm{
    margin-bottom: 10px;
    margin-top: 5px;
  }
  #attemps{
    padding:5px 5px ;
    margin-top: 5px;
    box-shadow: 0px 0px 0px 1px rgb(56, 3, 204);
    color:red;
    

  }
  #icons{
    font-size: 50px;
  }
  @media (max-width:800px) {

   .logo{
    height: 150px;
    width: auto;
   }
  h2{
    font-size: 18px;
  }  
  h3{
    font-size: 16px;
  }
  h5{
    font-size: 14px;
  }
  .game-body{
    margin-top: 120px;
    width: 80%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center;
    padding:10px 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 50px 0.5px skyblue;
    border-radius: 5px;
    margin-bottom: 50px;

  }
  .front-dilogbox{
  
    margin-top: 50px;
    width: 80%;
    justify-content: center;
    align-items: center;
    justify-self: center;
    text-align: center;
    padding:10px 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 50px 0.5px skyblue;
    border-radius: 5px;
    margin-bottom: 50px;
}

  }
